# Kconfig - nRF5340 PCA10095 board configuration
#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF5340_CPU0_QKAA

config BOARD_NRF5340_PCA10095_CPU0
	bool "nRF5340 PCA10095 Application MCU"

config BOARD_NRF5340_PCA10095_CPU0NS
	bool "nRF5340 PCA10095 Application MCU non-secure"

endif # SOC_NRF5340_CPU0_QKAA


if SOC_NRF5340_CPU1_QKAA

config BOARD_NRF5340_PCA10095_CPU1
	bool "nRF5340 PCA10095 Network MCU"

endif # SOC_NRF5340_CPU1_QKAA
