# Kconfig.defconfig - Nuvoton M2351 MCU line
#
# Copyright (c) 2016-2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_FAMILY_NUVOTON

source "soc/arm/nuvoton/*/Kconfig.defconfig.series"

config BUILD_OUTPUT_HEX
	default y

endif # SOC_FAMILY_NRF
