# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM=y
CONFIG_SOC_FAMILY_NUVOTON=y
CONFIG_SOC_SERIES_M2351X=y
CONFIG_SOC_M2351_KIAAE=y
CONFIG_BOARD_PFM_M2351=y

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_CORTEX_M_SYSTICK=y
